@import url("includes.css");
@import url("dividers.css");

/*******************************/
/***** ↓↓ Rules for all ↓↓ *****/

.settings_wrapper {
    padding: 145px 0;
    margin: 0 auto;
    width: 500px;
}

.settings_title {
    background-color: rgba(0, 0, 0, 0.6);
    font-family: "new_zelek";
    text-align: center;
    color: white;
    font-size: 22px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 8px 8px 0px 0px;
}

.settings_container {
    box-shadow: 0px 4px 8px black inset;
    background: rgba(0, 0, 0, 0.82);
    padding: 25px;
}

.settings_container label,
p {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 18px;
    margin: 0;
}

p {
    text-align: center;
}

.settings_container form {
    display: flex;
    flex-direction: column;
}

.settings_container button {
    margin: 0;
}

.alertUserSettings {
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 18px;
    width: 100%;
    padding: 12px 0;
    margin: 0 0 18px 0;
}

.success {
    background-color: darkgreen;
}

.error {
    background-color: darkred;
}

/**********************************/
/***** ↓↓ changeavatar.php ↓↓ *****/

.paddWrappAvatar {
    padding: 125px 0;
}

.avatarLabel {
    display: flex;
    justify-content: center;
}

.avatarInput {
    display: none;
}

form img {
    background: darkgrey url(../img/icons/upload.png) center center no-repeat;
    background-size: 55px 55px;
    object-fit: cover;
    cursor: pointer;
    border: 6px solid #53535F;
    border-radius: 50%;
    margin: 22px 0;
    height: 350px;
    width: 350px;
    transition: .2s;
    opacity: 0.8;
}

form img:hover {
    background-color: #373636;
}

/**************************************************/
/***** ↓↓ changepseudo.php & changemdp.php ↓↓ *****/

.paddWrappPseudo,
.paddWrappPasswordChnge {
    padding: 12rem 0;
}

/************************************/
/***** ↓↓ passwordrecover.php↓↓ *****/

.paddWrappPasswordRecov {
    padding: 15rem;
}

/************************************/
/***** ↓↓ forgotpassword.php ↓↓ *****/

.paddWrappPassword {
    padding: 21rem 0;
}

.link {
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    transition: .2s;
}

.link:hover {
    color: darkorange;
}